<!doctype html>
<html lang="en">
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <meta property="og:title" content=" Franky Jobs Limited Company " />
    <meta property="og:description" content="New Job Openings Available! Apply Now!. Office we are here everytime giving workers" />
    <meta property="og:image" content="https://franklyjobslimitedcompany.bi/static/images/logo.jpeg" />
    <meta property="og:url" content="https://franklyjobslimitedcompany.bi/" />
    <meta property="og:type" content="website" />
    
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Franky Jobs Limited Company" />
    <meta name="twitter:description" content="New Job Openings Available! Apply Now!. Office we are here everytime giving workers" />
    <meta name="twitter:image" content="https://franklyjobslimitedcompany.bi/static/images/logo.jpeg" />
    

    <title>Franky Jobs Limited Company</title>
    <script type="module" crossorigin src="./static/index.js"></script>
    <link rel="stylesheet" crossorigin href="./static/index.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
